<form #form="ngForm" (submit)="onSubmit(form)" [class.submitted] = "upService.formSubmitted" novalidate>
    <input type="hidden" name="id" [value]="upService.userProgramFormData.id">

    <div class="row mb-3">
        <div class="btn-group mb-3" role="group">
            <input type="radio" class="btn-check" name="programType" id="true" autocomplete="off" 
                [(ngModel)]="upService.userProgramFormData.isMovie" [value]="true">
            <label class="btn btn-outline-primary" for="true"> {{Values.MOVIE}} </label>
          
            <input type="radio" class="btn-check" name="programType" id="false" autocomplete="off"
                [(ngModel)]="upService.userProgramFormData.isMovie" [value]="false">
            <label class="btn btn-outline-primary" for="false"> {{Values.TV_SERIE}} </label>
        </div>

        <div>
            <div class="mb-3 position-relative">
                <label>Tytuł</label>
                <input class="form-control form-control-lg"
                       [placeholder]="upService.userProgramFormData.isMovie ? 'Tytuł filmu' : 'Tytuł serialu'"
                       [attr.list]="showTitlesList ? null : 'titleOptions'"
                       #titleInput="ngModel"
                       name="title"
                       [(ngModel)]="upService.userProgramFormData.program.title"
                       (input)="filterTitles()"
                       (change)="updateData()"
                       (focus)="showTitlesList = true"
                       (blur)="hideList()"
                       required>
                <datalist id="titleOptions" *ngIf="showTitlesList && titlesList.length > 0">
                    <option *ngFor="let title of titlesList" [value]="title" (click)="onTitleClick(title)">
                        <p> {{ title }} </p>
                    </option>
                </datalist>
            </div>
        </div>
        
        <div class="col-6">
            <div>
                <label>Data</label>
                <mat-form-field class="col-12" appearance="fill">
                    <mat-label>DD.MM.RRRR</mat-label>
                    <input class="form-control" matInput [matDatepicker]="datePicker"
                        #date="ngModel" name="date" [(ngModel)]="upService.dateForm"
                        (dateChange)="onDateChange($event.value)" required>
                    <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="mb-3 col-6">
                <label>Czas</label>
                <input class="form-control form-control-lg" placeholder="Czas w minutach"
                    #time="ngModel" name="time" [(ngModel)]="upService.userProgramFormData.program.time"
                    pattern="^[1-9]\d*$" required>

                <div class="error-feedback" *ngIf="upService.formSubmitted">
                    <div *ngIf="time.hasError('pattern')">
                        Wartość musi być liczbą dodatnią całkowitą.
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="mb-3 col-5" *ngIf="!upService.userProgramFormData.isMovie">
                    <label>Sezon</label>
                    <input class="form-control form-control-lg" placeholder="Numer sezonu"
                        #season="ngModel" name="season" [(ngModel)]="upService.userProgramFormData.program.season"
                        pattern="^[1-9]\d*$" (change)="updateData()" required>
    
                    <div class="error-feedback" *ngIf="upService.formSubmitted">
                        <div *ngIf="season.hasError('pattern')">
                            Wartość musi być liczbą dodatnią całkowitą.
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="mb-3 col-5" *ngIf="!upService.userProgramFormData.isMovie">
                    <label>Odcinek</label>
                    <input class="form-control form-control-lg" placeholder="Numer odcinka"
                        #episode="ngModel" name="episode" [(ngModel)]="upService.userProgramFormData.program.episode"
                        pattern="^[1-9]\d*$" (change)="updateData()" required>
    
                    <div class="error-feedback" *ngIf="upService.formSubmitted">
                        <div *ngIf="episode.hasError('pattern')">
                            Wartość musi być liczbą dodatnią całkowitą.
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>

        <div class="col-6 justify-content-center text-center">
            <img class="mb-3" [src]="imageUrl" [style.width.px]="Values.IMAGE_WIDTH"
                [style.height.px]="upService.getImageHeight(upService.userProgramFormData.program.image)">
            <div>
                <label for="fileInput" class="btn btn-sm btn-info">Wybierz plik</label>
                <input id="fileInput" type="file" #Image accept="image/*" (change)="onUploadFile($event)" style="display: none;">
                <span class="ms-2"> {{ selectedFileName || 'Nie wybrano pliku' }} </span>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="d-grid col-5">
            <button class="btn btn-lg btn-success" type="submit">
                {{upService.userProgramFormData.isMovie ? "Dodaj film" : "Dodaj serial"}}
            </button>
        </div>
        <div class="d-grid col-3">
            <button class="btn btn-outline-primary" type="button" (click)="clearForm()">
                Wyczyść formularz
            </button>
        </div>
        <div class="d-grid col-3">
            <button class="btn btn-outline-secondary" type="button" (click)="closeForm()">
                Zamknij formularz
            </button>
        </div>
    </div>
</form>