<div class="row mb-1">
    <div class="col-2"> Rok: </div>
    <div class="col-10 center-container">
        <button class="m-1 btn btn-sm" *ngFor="let d of getYears()" (click)="chooseYear(d)"
            [class.btn-outline-primary]="d != choosedYear" [class.btn-primary]="d == choosedYear">
            {{ d }}
        </button>
    </div>
</div>

<div class="row mb-3">
    <div class="col-2"> Miesiąc: </div>
    <div class="col-10 center-container">
        <button class="m-1 btn btn-sm" *ngFor="let m of getMonths()" (click)="chooseMonth(m)"
            [ngClass]="{
            'btn-primary': m === choosedMonth && yearMonths[choosedYear] != null && yearMonths[choosedYear].includes(m),
            'btn-outline-primary': m !== choosedMonth && yearMonths[choosedYear] != null && yearMonths[choosedYear].includes(m),
            'disabled': yearMonths[choosedYear] != null && !yearMonths[choosedYear].includes(m)
            }" >
            {{ m }}
        </button>
    </div>
</div>