<form #form="ngForm" (submit)="onSubmit(form)" [class.submitted] = "service.formSubmitted" novalidate>
    <input type="hidden" name="paymentId" [value]="service.formData.paymentId">
    <div class="mb-3">
        <label>Kategoria</label>
        <input class="form-control form-control-lg" placeholder="Kategoria wydatku/dochodu"
        #categoryName="ngModel" name="categoryName" [(ngModel)]="service.formData.categoryName"
        required>
    </div>
    <div class="mb-3">
        <label>Opis</label>
        <input class="form-control form-control-lg" placeholder="Opis wydatku/dochodu"
        #name="ngModel" name="name" [(ngModel)]="service.formData.name"
        required>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label>Suma</label>
            <input class="form-control form-control-lg" placeholder="Kwota"
            #sum="ngModel" name="sum" [(ngModel)]="service.formData.sum"
            required>
        </div>
        <div class="mb-3 col-6">
            <label>Data</label>
            <input class="form-control form-control-lg" placeholder="dd-mm-rrrr"
            #date="ngModel" name="date" [(ngModel)]="service.formData.date"
            required minlength="10" maxlength="10">
        </div>
    </div>
    <div class="d-grid">
        <button class="btn btn-lg btn-success" type="submit">
            Zatwierdź
        </button>
    </div>
</form>