<div class="container">
    <div class="row">
        <div class="col-8" style="float: left;">
            <app-payment-form *ngIf="service.paymentFormShown"/>            
            <app-transfer-form *ngIf="service.transferFormShown"/>

            <div class="row justify-content-center" *ngIf="!service.paymentFormShown && !service.transferFormShown">
                <button class="d-grid col-5 big me-2" (click)="showPaymentForm()"> Dodaj płatność </button>
                <button class="d-grid col-5 big ms-2" (click)="showTransferForm()"> Dodaj przelew </button>
            </div>
            
            <app-pagination [service]="service" />

            <app-payments-table [showDetails]="true"
                [payments]="service.currentPayments" 
                (modifyPayment)="populateForm($event)" 
                (deletePayment)="onDelete($event)" />
        </div>

        <div class="col-3 offset-1">
            <button class="big w-100" (click)="showUserPaymentHistory()"> Podsumowanie </button>
            <button class="big w-100" (click)="onAddNewUserPaymentMethod()"> Dodaj konto </button>
            <app-user-payment-accounts />
        </div>
    </div>
</div>