<div class="mb-4">
    <h2 class="text-success">
        Zarejestruj się
    </h2>
    <div>
        Masz już konto? 
        <a [routerLink]="['/', paths.SIGN_IN]" class="text-decoration-none fw-medium text-success d-inline-block">
            Zaloguj się
        </a>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Login" formControlName="login">
        <div class="error-feedback" *ngIf="hasDisplayableError('login') && form.controls['login'].hasError('required')">
            Wprowadź swój login.
        </div>
    </div>

    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Adres email" formControlName="email">
        <div class="error-feedback" *ngIf="hasDisplayableError('email')">
            <div *ngIf="form.controls['email'].hasError('required')">
                Wprowadź swój adres email.
            </div>
            <div *ngIf="form.controls['email'].hasError('email')">
                Wprowadź prawidłowy adres email.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Hasło" formControlName="password">
        <div class="error-feedback" *ngIf="hasDisplayableError('password')">
            <ng-container [ngSwitch]="form.controls['password'].errors | firstKey">
                <div *ngSwitchCase="'required'">
                    Wprowadź hasło.
                </div>
                <div *ngSwitchCase="'minlength'">
                    Hasło musi zawierać minimum 6 znaków.
                </div>
                <div *ngSwitchCase="'pattern'">
                    Hasło musi zawierać minimum 1 znak specjalny.
                </div>
            </ng-container>
        </div>
    </div>

    <div class="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Powtórz hasło" formControlName="confirmPassword">
        <div class="error-feedback" *ngIf="hasDisplayableError('confirmPassword') && form.controls['confirmPassword'].hasError('passwordMismatch')">
            Hasła nie są zgodne.
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">
            Zarejestruj
        </button>
    </div>
</form>