<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item mouse-hover" [class.disabled]="service.paginator.canShowPage(true)">
            <a class="page-link" (click)="service.paginator.changePagesShown(true)">
                <span>&laquo;</span>
            </a>
        </li>

        <li class="page-item mouse-hover" *ngFor="let page of service.paginator.pages"
            [class.active]="page == service.paginator.currentPage">
            <a class="page-link" (click)="service.changePage(page)">
                {{ page }}
            </a>
        </li>

        <li class="page-item mouse-hover" [class.disabled]="service.paginator.canShowPage(false)">
            <a class="page-link" (click)="service.paginator.changePagesShown(false)">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</nav>