<app-month-year *ngIf="ready" [service]="uphService" [list]="pService.allPayments"></app-month-year>

<ul class="list-group" *ngIf="uphService.userPaymentHistories.length > 0">
    <div id="allAccounts" class="list-group-item mouse-hover" 
        (click)="chooseAccount(Values.ALL_ACCOUNTS)" title="Pokaż szczegóły">
        <app-account-history [userAccountBalance]="uphService.fullBalance" [choosedAccountName]="choosedAccountName" />
    </div>

    <li class="list-group-item mouse-hover" *ngFor="let b of uphService.balances" 
        (click)="chooseAccount(b.paymentMethodName)" title="Pokaż szczegóły">

        <app-account-history [userAccountBalance]="b" [choosedAccountName]="choosedAccountName" />
        
        <app-payments-table [payments]="b.payments" class="w-100 d-block" 
            *ngIf="choosedAccountName == b.paymentMethodName && b.payments.length > 0"/>
    </li>
</ul>