<div class="d-flex mb-2">
    <div class="w-50 d-block">
        <h2>{{userAccountBalance.paymentMethodName}}</h2>
        
        <app-key-val class="row fw-bold" key="Bilans" [val]="userAccountBalance.balance"
            [ngClass]="{ 'text-success': userAccountBalance.balance >= 0, 'text-danger': userAccountBalance.balance < 0 }" />
        <app-key-val class="row" key="Saldo początkowe" [val]="userAccountBalance.startSum" />
        <app-key-val class="row" key="Saldo końcowe" [val]="userAccountBalance.endSum" />
    </div>

    <div class="w-50 d-block" *ngIf="choosedAccountName == userAccountBalance.paymentMethodName">
        <app-chart title="Przychody" 
            [series]="getSeries(userAccountBalance.income)"
            [labels]="getLabels(userAccountBalance.income)"
        />

        <app-chart title="Wydatki" 
            [series]="getSeries(userAccountBalance.outcome)"
            [labels]="getLabels(userAccountBalance.outcome)"
        />
    </div>
</div>