<nav id="sidebar" class="navbar bg-body-tertiary vh-100 flex-column justify-content-start">
    <div class="container-fluid justify-content-center p-1">    
        <a class="navbar-brand h1 fw-bold text-success mb-3" [routerLink]="paths.DASHBOARD">
            Trackly
        </a>
    </div>

    <ul class="nav flex-column w-100 px-3">
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOnly">
            <a class="nav-link" [routerLink]="paths.ADMIN_ONLY"> Admin Only </a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrTeacher">
            <a class="nav-link" [routerLink]="paths.ADMIN_OR_TEACHER"> Admin Or Teacher </a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.femaleAndTeacher">
            <a class="nav-link" [routerLink]="paths.APPLY_FOR_MATERNITY_LEAVE"> Maternity Leave </a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.hasLibraryId">
            <a class="nav-link" [routerLink]="paths.LIBRARY_MEMBERS_ONLY"> Library Members </a>
        </li>
        <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.femaleAndBelow10">
            <a class="nav-link" [routerLink]="paths.UNDER10_AND_FEMALE"> Under 10 Girls Only </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="paths.PAYMENT"> Payments </a>
        </li>
    </ul>
</nav>

<div id="main">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid px-5 py-1">

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    Szukaj
                </button>
            </form>

            <button class="btn btn-dark" (click)="onLogout()">
                Wyloguj się
            </button>
        </div>
    </nav>

    <div class="mt-5 p-5">
        <router-outlet></router-outlet>
    </div>
</div>