<div>
    <nav id="sidebar" class="navbar bg-body-tertiary vh-100 flex-column justify-content-start">
        <div class="container-fluid justify-content-center p-1">    
            <a class="navbar-brand h1 fw-bold text-success mb-3" [routerLink]="paths.DASHBOARD">
                Trackly
            </a>
        </div>
    
        <ul class="nav flex-column w-100 px-3">
            <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOnly">
                <a class="nav-link" [routerLink]="paths.ADMIN_ONLY"> Zarządzaj </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="paths.PAYMENT"> Płatności </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="paths.MOVIE"> Filmy i seriale </a>
            </li>
        </ul>
    </nav>
</div>

<div class="flex-grow-1 col" id="main">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid px-5 py-1">

            <form class="d-flex w-40" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    Szukaj
                </button>
            </form>

            <div>
                <button class="btn border me-2" (click)="onAccount()"> Moje konto </button>    
                <button class="btn btn-dark" (click)="onLogout()"> Wyloguj się </button>
            </div>
            
        </div>
    </nav>

    <div class="mt-2 p-5">
        <router-outlet></router-outlet>
    </div>
</div>