<div class="container">
    <app-program-form *ngIf="upService.programFormShow" />
    
    <button class="big" *ngIf="!upService.programFormShow" (click)="showProgramForm()"> Dodaj obejrzany Film/Serial </button>
    
    <!-- TODO: Mixin -->
    <!-- <app-month-year *ngIf="ready" [service]="upService" [list]="upService.allUserPrograms"></app-month-year> -->
    
    <app-pagination [service]="upService"></app-pagination>

    <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let up of upService.currentUserPrograms">
    
            <div class="info-section">
                <div>{{up.date}}</div>
                <div class="text-secondary">
                    <i class="fa-solid fa-eye me-2" [style.cursor]="'pointer'" (click)="onEdit(up, true)" title="Obejrzyj ponownie"></i>
                    <i class="fa-solid fa-pen-to-square me-2" [style.cursor]="'pointer'" (click)="onEdit(up, false)" title="Edytuj"></i>
                    <i class="fa-solid fa-trash-can" [style.cursor]="'pointer'" (click)="onDelete(up.id)" title="Usuń z obejrzanych"></i>
                </div>
            </div>
    
            <div class="movieImg" [style.height.px]="Values.MAX_IMAGE_HEIGHT">
                <img [src]="up.program.image?.source || '/empty_image.png'" 
                    alt="Movie Image"
                    [style.height.px]="upService.getImageHeight(up.program.image)" 
                    [style.width.px]="Values.IMAGE_WIDTH">
            </div>
    
            <div class="text-center mb-2 fw-bold"> 
                {{up.isMovie ? "" : getTvSerieText(up)}} {{up.program.title}}
            </div>
            <div class="text-center"> 
                Czas: {{up.program.time}} min 
            </div>
        </li>
    </ul>    
</div>