/*payment*/
.mouse-hover {
    cursor: pointer;
}

.mouse-hover:hover {
    background-color: #ffeccf;
}

form label {
    text-transform: uppercase;
    color: grey;
}

form input {
    font-weight: 500;
}

form input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
}

form.submitted input.ng-invalid {
    border-color: red;
}

form.submitted select.ng-invalid {
    border-color: red;
}

.dialog-content {
    justify-content: center;    /* wyśrodkowanie w poziomie */
    align-items: center;    /* wyśrodkowanie w pionie */
    height: 100%;
}

.dialog-actions {
    display: flex;
    justify-content: center;  /* Wycentrowanie przycisków poziomo */
    align-items: center;      /* Wycentrowanie przycisków pionowo */
    gap: 16px;                /* Odległość między przyciskami */
}


/*registration*/
body {
    font-family: "Inter", sans-serif;
}

.error-feedback {
    font-size: 0.9rem;
    color: crimson;
    margin: 0.3rem !important;
    margin-top: 0.1rem !important;
}

/*dashboard and user view*/
#main {
    margin-left: 240px;
}

#sidebar {
    width: 240px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#sidebar li.nav-item a {
    color: #637381;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.7rem 1rem;
}

#sidebar li.nav-item:hover {
    background-color: #007fff17;
    border-radius: 0.5rem;
}
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", 
    sans-serif; 
}


/* datalist - Titles in Movies and TvSeries */
datalist {
    display: block;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 0;
    margin: 0;
}
  
datalist option {
    font-size: 1rem;
    color: #212529;
    padding: 0.5rem 1rem; /* Dostosuj marginesy wewnętrzne */
    white-space: nowrap; /* Zapobiega łamaniu linii */
}
  
datalist option:hover {
    background-color: #f8f9fa;
    color: #495057;
}
 